
Saved/Autosaves/PackageRestoreData.json

Saved/AutoScreenshot.png

Saved/Config/Windows/EditorPerProjectUserSettings.ini

Saved/Config/Windows/UnrealInsightsSettings.ini

Saved/Logs/SCP_Adminisrator.log

Intermediate/
